@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing:border-box;
  }

body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #a4c5c6;
    }

h2,h3,p{
    font-weight: bold;
}

h3{
    font-size: 1.5rem;
    
}

h2{
    font-size: 3rem;

}

p{
    font-size: 3rem;
}

a:link {
    color: red;
    text-decoration: none;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    color: hotpink;
  }
  
  a:active {
    color: blue;
  }