@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing:border-box;
  }

body{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #a4c5c6;
  margin: 0;
  padding: 20px;
  height: 100vh;
}

a:link {
    color: red;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    color: hotpink;
  }
  
  a:active {
    color: blue;
  }